.main_chat
  .main_header
    .main_header__left
      %h2.main_header__left__text
        text
      %h2.main_header__left__member
        Member : masa
    .main_header__right
      Edit
  .messages
    = render @messages
    -# .messages__list
    -#   .messages__list__box
    -#     %p.messages__list__box__name
    -#       masa
    -#     %p.messages__list__box__time
    -#       2019/11/20(web) 17:43:01
    -#   %p.messages__comment
    -#     おはよう!!

    -# .messages__list
    -#   .messages__list__box
    -#     %p.messages__list__box__name
    -#       masa
    -#     %p.messages__list__box__time
    -#       2019/11/20(web) 17:43:01
    -#   %p.messages__comment
    -#     おはよう!!

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'new_message__input', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'new_message__send'